$orange: #ED6E30;
$darkOrange: #E52E2E;
$lightOrange: #F49C7D;
$blue: #50c497;
$darkBlue: #168057;
$lightBlue: #aeeed5 ;
$darkGray: #47525E;
$lightGray: #8190A5;
$black: rgb(20, 18, 18);
$white: #FAFAFA;

    $generalFontSize: 2em;