/*----------Background-Colors------*/
.bgOrange{
    background-color: $orange;
}
.bgDarkOrange{
    background-color: $darkOrange;
}
.bgLightBlue{
    background-color: $lightOrange;
}
.bgBlue{
    background-color: $blue;
}
.bgDarkBlue{
    background-color: $darkBlue;
}
.bgLightBlue{
    background-color: $lightBlue;
}

.black{
    background-color: $black;
}

.darkGray{
    background-color: $darkGray;
}
.lightGray{
    background-color: $lightGray;
}
.white{
    background-color: $white;
}