.sidebarBurgerBtn {
    position: absolute;
    top: 15px;
    left: 45px;
    height: 45px;
    width: 45px;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
    transition: left 0.4s ease;
    z-index: 2;

    i {
        color: $black;
        line-height: 45px;
        font-size: $generalFontSize;
    }
}

.sidebarBurgerBtn.click {
    left: 260px;

    i:before{
        content: '\f00d';
        color: $orange;
    }
}

.sidebar {
    position: fixed;
    width: 250px;
    height: 100%;
    left: -250px;
    background-color: $black;
    transition: left 0.4s ease;
    z-index: 3;

    img{
        max-width: 150px ;
    }

    .text {
        font-weight: 600;
        line-height: 65px;
        text-align: center;
        letter-spacing: 1px;
    }

    ul {
        background-color: $black;
        height: 100%;
        width: 100%;

        li {
            line-height: 60px;
            border-bottom: 1px solid $lightGray;

            &:last-child {
                border-bottom: 1px solid $orange;
            }

            a {
                color: white;
                text-decoration: none;
                font-size: 18px;
                padding-left: 40px;
                font-weight: 500;
                display: block;
                width: 100%;
                border-left: 3px solid transparent;

                &:hover {
                    color: $blue;
                    border-left-color: $blue;
                }
            }
        }
    }
}
.sidebar.show{
    left: 0;
}