/*------Nav-------*/
.header__nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    position: sticky;
    top: 0;
    z-index: 2;
    padding: 8px 0;
    background-color: $white;

    /*--- Burger Nav---*/
    .header__nav--burger {
        div {
            width: 20px;
            height: 2px;
            background-color: $black;
            margin: 5px;
            transition: all 0.3s ease;
        }
    }

    .header__nav--logo {
        img{
            max-width: 100px;
        }
    }

    .header__nav--content {
        margin-top: 15px;
        display: flex;
        justify-content: space-around;
        width: 50%;
        
        a {
            letter-spacing: 1px;
            color: $darkBlue;

            /* font-weight: bold; */
            &:hover {
                transform: translateY(-50px);
                transition: all 0.5s;
                color: $blue;
                padding: 15px;
            }
        }

        .active {
            color: $orange;
        }

        ul {
            display: flex;
            justify-content: space-around;
        }
    }
}


/*---Responsive NAV --*/
.header__nav--burger {
    display: none;
    font-size: 1.2em;
}

@media screen and (max-width: 768px) {

    /*------ NAVBAR -------*/
    .header__nav--content {
        position: absolute;
        right: 0;
        height: 92vh;
        top: 11vh;
        flex-direction: column;
        background-color: $white;
        align-items: center;
        width: 100%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;

        li {
            opacity: 0;
        }
    }

    .header__nav--burger {
        display: block;
        cursor: pointer;
    }

    .header__nav--contentActive {
        transform: translate(0%);
    }

    @keyframes header__nav--contentFade {
        from {
            opacity: 0;
            transform: translateX(50px);
        }

        to {
            opacity: 1;
            transform: translateX(0px);
        }
    }

    .toggle .header__nav--burger-1 {
        transform: rotate(-45deg) translate(-3px, 5px);
    }

    .toggle .header__nav--burger-2 {
        opacity: 0;
    }

    .toggle .header__nav--burger-3 {
        transform: rotate(45deg) translate(-5px, -7px);
    }
}