.agendar {
    width: 80%;

    .agendarForm {
        border-top: 80px solid $blue;
        display: flex;
        flex-direction: column;
        padding: 80px;
    }
}

@media screen and (max-width: 768px) {
    .agendar {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .agendar {
        .agendarForm{
            border-top: 50px solid $blue;
            padding: 50px;
        }
    }
}

@media screen and (max-width: 320px) {
    .agendar {
        .agendarForm{
            border-top: 30px solid $blue;
            padding: 20px;
        }
    }
}